.first_chat-container {
    width: 100%;
    position: relative;
    height: 90dvh;
    background-color: #c0cde3;

    @supports not (height: 90dvh) {
        height: 90vh;
    }
}


.first_status_bar {
    width: 100%;
    height: 59px;
}

.first_status_bar2 {
    width: 100%;
    height: 59px;
}

.first_messages {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
}

.first_imoji-container {
    position: absolute;
    bottom: 32px;
    left: 0;
    width: 100%;
    height: 230px;
    background-color: #ffffff;
}

.first_select-box {
    width: 100%;
    height: 50px;
    display: flex;
}

.first_chat-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.first_chat-image {
    display: inline-block;
    width: 112px;
    height: 100px;
    margin-right: 20px;
}

.first_chat-image img {
    width: 100%;
    height: 100%;
}

.first_chat-text {
    display: inline-block;
    background: #FEE500;
    padding: 5px 12px 5px 12px;
    border-radius: 13px;
    margin-right: 20px;
}

.first_chip {
    margin: auto;
    border: 1px;
    border-radius: 46px;
    border: 1px solid #C9C7C7;
    padding: 8px 16px 8px 16px;
}

.first_imoji-img {
    cursor: pointer;
}

.first_imoji-img.first_active {
    border: 2px solid #FEE500;
    border-radius: 16px;
}

.first_chip.first_selected {
    border: 1px solid #191919;
}

.first_imoji-box {
    width: 100%;
    height: 172px;
}

.first_imoji-line {
    display: flex;
}

.first_imoji {
    margin: auto
}

.first_input-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    padding-block: 0px;
    padding-inline: 0px;
    padding: 0px;
    border-width: 0px;
    text-align: left;
    background-color: #ffffff;
}

.first_next-button {
    position: absolute;
    bottom: 45px;
    left: 0;
    width: 100%;
    height: 32px;
    padding-block: 0px;
    padding-inline: 0px;
    padding: 0px;
    border-width: 0px;
    text-align: center;
    cursor: pointer;
}

.first_input-box input {
    width: 100%;
    font-size: 1rem;
    outline: none;
    padding-block: 0px;
    padding-inline: 0px;
    padding: 0px;
    border-width: 0px;
    background-color: #EFEFEF;
}

.first_input-line {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.first_plus {
    width: 10%;
    margin: auto;
}

.first_text-box {
    width: 80%;
    margin: auto;
    display: flex;
}

.first_smile {
    width: 10%;
    margin: auto;
}

.first_send {
    width: 10%;
    margin: auto;
    cursor: pointer;
}

.first_shop {
    width: 10%;
    margin: auto;
}


.first_wrapper {
    position: relative;
    width: 100%;
    margin: 20px auto;
}

.first_highlighter,
.first_input {
    font-size: 16px;
    font-family: inherit;
    line-height: 1.5;
    padding: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

.first_highlighter {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    z-index: 1;
    pointer-events: none;
    background-color: white;
}

.first_highlighter .first_highlight {
    color: #1A6DFF;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: #1A6DFF;
}

.first_input {
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    color:  transparent;
    caret-color: black;
    position: relative;
    z-index: 2;
}

.first_friend_chat {
    margin-left: 20px;
}