.second_main {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 90dvh;

    @supports not (height: 90dvh) {
        height: 90vh;
    }
}

.second_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.second_status {
    top: 0;
    left: 0;
    width: 100%;
}

.second_center {
    top: 75px;
    width: 100%;
}

.second_button {
    width: 100%;
}